Screen {
    align: center middle;
}

#main_container{
    align: center middle;
}

#user_id {
    width: 70%;
}

#user_password {
    width: 70%;
}

#register {
    width: 70%;
}

#sidebar {
    dock: left;
    width: 15;
    height: 100%;
    color: #0f2b41;
    background: dodgerblue;
}

Header {
        dock: top;
}

Footer {
        dock: bottom;
}
Button {
        width: 1fr;
}